/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

label{
    color:white;
}

span{
    color:white;
}

legend{
    color: white;
}

.body-cadastro{
    background-image: url("../../public/images/jordan1-redbg.png");
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100%;
}

.titulo-login2{
    font-size: 24px;
    font-weight: bolder;
    color: black;
    font-family: 'Montserrat';
    margin-bottom: 30px;
    padding-left: 3rem;    
}

.modal-cadastro{
    justify-content: center;
    padding: 2% 0% 4% 0%;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 20px;
}

.section-cadastro{
    margin: 20px 0px;
}

.label-cadastro{
    color: black;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 18px;
    display: flex;
    justify-self: flex-start;
}

.input-cadastro{
    background-color: #F3F3F3 !important;
    border-width: 0px !important;
    border-radius: 10px !important;
}


.btn-cadastrar{
    color: #FFFFFF;
    justify-self: center;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Montserrat';
}

.rowPedidos{
    padding-left: 2.5rem !important;
}

.pPedidos{
    font-weight: bold;
}

.tagSmall{
    color: green;
}


