.body-home{
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100%;
}
.card1{
    background-color: white;

}
.card2{  
    background-image: linear-gradient(to right, bisque ,  aliceblue );
}
.main1{
    height: 500px;
    width: 100%;
    background-color: aliceblue;
    background-image: linear-gradient(to right, bisque ,  aliceblue );
    display:inline-flex;
    
}
.main1-1{  
    
    width: 50%;
    display: inline-block;    
    
}
.main1-2{ 
    display: inline-block;  
    width: 50%;
    text-align: center;  
    
    
}
.img1{
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 5%;
    width: 100%;
}
.text1{
    margin-top: 25%;
}
.main2{
    height: 500px;
    width: 100%;
    background-color: rgb(252, 252, 252);
    display:inline-flex;
    
}
.img2{
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}



