

.bg-login-adm{ 
    background-image: linear-gradient(to right, #FFC9C9 , #EFEFEF);
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100%;
}

.titulo-login{
    font-size: 24px;
    font-weight: bold;
    color: black;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 30px;
}

.modal-login1{
    justify-content: center !important;
    align-items: center !important;
    padding: 2% 0% 4% 0%;
    background-color:#ffffff;
    border-radius: 20px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.section-login-adm{
    margin: 20px 0px;
    height: 100%;
}

.label-login{
    color: black;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 18px;
    display: flex;
    justify-self: flex-start;
}

.input-login1{
    background-color: #ececec !important;
    border-width: 0px !important;
    border-radius: 10px !important;
}

.btn-login{
    background-color: #CD0D0D;
    align-items: center;
    height: 35px;
    border-width: 0px;
    border-radius: 11px;
}

.btn-texto-login{
    color: #FFFFFF;
    justify-self: center;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Montserrat';
}

.esqueci-senha-login{
    color: black;
    text-decoration: underline;
    font-weight: bolder;
    display: block;
    margin-top: 5%;
}

.cadastre-se-login{
    color: black;
    text-decoration: none;
    font-weight: bolder;
    display: block;
    margin-top: 4%;
}