/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

label {
    color: white;
}

span {
    color: white;
}

legend {
    color: white;
}

.bg-carrinho {
    background: radial-gradient(100% 234.68% at 0% 0%, rgba(255, 0, 0, 0.23) 0%, rgba(105, 96, 96, 0.08) 100%) !important;
}

.section-carrinho {
    margin: 30px 0px;
    
}

.titulo-carrinho {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    margin-bottom: 0 !important;
}

.modal-carrinho {
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}

.imagem-carrinho {
    width: 150px;
    /* background-image: url("../../public/images/jordan1-bg.png") ; */
    background-size: cover;
    position: relative;
    height: 150px;
    background-color: black;
}

.dados-carrinho {
    /* width: 350px; */
    height: auto;
    background-color: transparent;
    margin-top: 5px;
}

.span-carrinho-normal {
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    font-size: 16px;
}

.carrinho-titulo {
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 16px;
}

.carrinho-desc {
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    font-size: 16px;
}

.p-carrinho {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.input-carrinho {
    border: none;
    border-radius: 5px;
    background-color: #E6E6E6;
}

.input-carrinho2 {
    border: none;
    border-radius: 5px;
    background-color: #E6E6E6;
    height: 28px !important;
}

.p-div-carrinho {
    font-family: "Montserrat";
    font-weight: 400;
}


.btn-finalizar{
    background-color: #CD0D0D;
    align-items: center;
    height: 35px;
    border-width: 0px;
    border-radius: 11px;
}

.span-btn-finalizar {
    color: #FFFFFF;
    justify-self: center;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.voltar-carrinho {
    color: #000000;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    cursor: pointer;
}