
  
  .body2 {
    width: 100%;
    min-height: 100vh;
    background-color: #e1e1e1;
    color: #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    max-width: 80vw;
  }
  .container .carousel {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
  }
  
  .container .carousel::-webkit-scrollbar {
    display: none;
  }
  
  .container .carousel .item {
    background-color: #EAEAEA;
    margin: 10px;
    padding: 10px;
    width: 250px;
    border-radius: 16px;
    flex: none;
  }
  
  .container .carousel .item .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .container .carousel .item .info {
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .container .carousel .item .info span {
    display: block;
    text-align: center;
    color: #1e1e1e;
    padding: 5px;
    border-radius: 10px;
  }
  
  .container .carousel .item .info .name {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 10px 0;
    color: rgb(199, 48, 48);
  }
  
  .container .carousel .item .info .oldPrice {
    font-size: 1.2rem;
    flex-grow: 1;
    color: #000000;
  }
  
  .container .carousel .item .info .price {
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #ff7e3b;
  }
  
  .container .buttons {
    width: 100%;
    text-align: center;
  }
  .container .buttons button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .container .buttons button:first-child img {
    transform: rotate(180deg);
  }

  .containerCard2{
    height: 80vh;
  }