 .container {
     max-width: 80vw;
 }

 .container .title-card {
    font-size: 24px;
    font-weight: bolder;
    color: black;
    font-family: 'Montserrat', sans-serif;
 }

 .container .carousel {
     display: flex;
     overflow-x: auto;
     scroll-behavior: smooth;
     scrollbar-width: none;
 }

 .container .carousel::-webkit-scrollbar {
     display: none;
 }

 .container .carousel .item {
     background-color: #EAEAEA;
     margin: 10px;
     padding: 10px;
     width: 250px;
     border-radius: 16px;
     flex: none;
 }

 .container .carousel .item .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
 }

 .container .carousel .item .info {
     height: 140px;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
 }

 .container .carousel .item .info span {
     display: block;
     text-align: center;
     color: #ffffff;
     padding: 5px;
     border-radius: 10px;
 }

 .container .carousel .item .info .name {
     font-size: 1.2rem;
     font-weight: bold;
     margin: 10px 0;
     color: rgb(0, 0, 0);
 }

 .container .carousel .item .info .oldPrice {
     font-size: 1.2rem;
     flex-grow: 1;
     color: #000000;
 }

 .container .carousel .item .info .price {
     margin-top: 10px;
     font-size: 1.2rem;
     font-weight: bold;
     background-color: #000000;
 }

 .container .buttons {
     width: 100%;
     text-align: center;
 }

 .container .buttons button {
     background-color: transparent;
     border: none;
     cursor: pointer;
 }

 .container .buttons button:first-child img {
     transform: rotate(180deg);
 }

 /* +++++++++++++++ ESTILIZAÇÃO DO SEGUNDO CARROSSEL ++++++++++++++++ */

.container .carousel-cards2 {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.container .carousel-cards2::-webkit-scrollbar {
    display: none;
}

.container .carousel-cards2 .item {
    background-color: #ffffff;
    margin: 10px;
    padding: 10px;
    width: 250px;
    border-radius: 16px;
    flex: none;
}

.container .carousel-cards2 .item .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .carousel-cards2 .item .info {
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container .carousel-cards2 .item .info span {
    display: block;
    text-align: center;
    color: #ffffff;
    padding: 5px;
    border-radius: 10px;
}

.container .carousel-cards2 .item .info .name {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 10px 0;
    color: rgb(0, 0, 0);
}

.container .carousel-cards2 .item .info .oldPrice {
    font-size: 1.2rem;
    flex-grow: 1;
    color: #000000;
}

.container .carousel-cards2 .item .info .price {
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #000000;
}